.get-in-touch-wrapper{
    display: flex;
    flex-direction: row;

}
.siderbar-wrapper{
    height: 100%;
    width: 100%;
    flex: 1;


}

.sidebar-items{
    width: 360px;
    border-right: 1px solid #ccc;
    padding: 24px 16px 0px 16px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    min-height: 100vh;


}

.subject-nav-list {
    list-style: none;
  }
  .subject-nav-form {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .subject-nav-list li {
    margin-bottom: 8px;
  }

  .subject-nav-list li a {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px ;
  }
  .nav-link a {
    width: 100%;
    display: block;
    padding: 16px 16px 16px 32px;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
  }
  .nav-link a.active {
    background-color: var(--primary-color);
    text-decoration: none;
    color: #ffffff;
    background-color: #094e73;
  }
  .nav-link a:hover {
    background-color: #005e8f;
    color: #ffffff;
  }
  .nav-link a:hover img,
  .nav-link a.active img {
    filter: brightness(0) invert(1);
  }
.form-wrapper{
    flex: 4;
    padding: 50px 10px;
}
.status-details{
    list-style-type: none;
    display: flex ;
    gap: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.status-details li
{
    background-color: #f5fcff;
    position: relative;
    cursor: pointer;
    height: 217px;
    min-width: 258px;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.status-details li:hover{
    background-color: #dbf0fa;
}
.status-details li h2{
    font-size: large;
}
.status-details li h1{
    font-size: 50px;
}

.client-details-wrapper{
    display: flex;
    flex-direction: column;
    padding: 70px;
}
.client-details-wrapper h1{
    font-size: 30px;
    font-weight: 400;
    color: #005e8f;

}
.client-details{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.client-details span{
    font-size: larger;
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #b2b2b2 ;
    padding: 50px 100px;
  margin-top: 20px;
}
.form-label{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 2px solid rgb(95, 89, 89);
    border-radius: 50px;
    padding: 10px;
width: 100%;
    height: 100%;
    align-items: center;
}
.form-label label{
    width: 100%;
}
.form-label input  {
    width: 100%;
    height: 100%;
}

.intership-info{
    font-size: xx-large;
    font-weight: 500;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-submit-button input{
height: 40px;
border-radius: 30px;
border: 2px solid #f90824;
background-color: #ffffff;
text-decoration: none;
width: 100px;
justify-content: center;
font-size: large;

}
.form-submit-button input:hover{
    background-color: #FF3E54;
    color: #fff;
}
input[type="file"]{
  text-decoration: none;

}
